<!--
  Generated with update-stats.sh

  Resources:
    * language icons: https://devicon.dev/
    * ASCII art: https://fsymbols.com/generators/carty/
-->

<table align="center">
<tr>

<td>
<p align="right"><a href="https://github.com/${USER}?tab=repositories&q=&type=source&language=&sort="><img src="https://img.shields.io/static/v1?label=Repos&message=${NUM_REPOS}&labelColor=grey&color=658594&style=flat-square&logo=${REPO_LOGO}"></a>
<br /><a href="https://github.com/${USER}?tab=repositories&q=&type=fork&language=&sort="><img src="https://img.shields.io/static/v1?label=Forks&message=${NUM_FORKS}&labelColor=grey&color=C34043&style=flat-square&logo=${FORK_LOGO}"></a>
<br /><a href="https://github.com/search?q=is%3Apublic+author%3A${USER}+type%3Apr&type=Issues"><img title="${NUM_OPEN_PULLS} open; ${NUM_CLOSED_PULLS} closed; ${NUM_MERGED_PULLS} merged" src="https://img.shields.io/static/v1?label=PRs&message=${NUM_PULLS}&labelColor=grey&color=76946A&style=flat-square&logo=${PULL_LOGO}"></a>
<br /><a href="https://github.com/search?q=author%3A${USER}+is%3Apublic+&type=commits&s=author-date&o=desc"><img src="https://img.shields.io/static/v1?label=Commits&message=${NUM_COMMITS}&labelColor=grey&color=957FB8&style=flat-square&logo=${COMMIT_LOGO}"></a>
<br /><a href="https://github.com/search?q=is%3Apublic+type%3Apr+assignee%3A${USER}&type=issues"><img src="https://img.shields.io/static/v1?label=Reviews&message=${NUM_REVIEWS}&labelColor=grey&color=FF9E3B&style=flat-square&logo=${REVIEW_LOGO}"></a>
</p>
</td>

<td>
<p align="left">
<!-- Logo generated with: https://codepo8.github.io/logo-o-matic/#goto-orc -->
<a href="https://github.com/${USER}"><img src="assets/liouk-logos/liouk.png" alt="${USER}" title="${USER}"></a>
</p>
</td>

<td>
<p align="left">
${LANGUAGES}</p>
</td>

</tr>
</table>
